* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li {
    display: inline;
    padding: 30px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

.package-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 5%;
}

.package {
    width: 350px;
    height: 350px;
    background-color: grey;
    border-radius: 25px;
}

.content h2 {
    font-size: 40px;
    text-align: center;
}

.content h4 {
    font-size: 25px;
    padding-left: 20px;
}

.content ul {
    margin-top: -15px;
    padding-left: 20%;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5;
}
.content p {
    margin-left: 80%;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 700;
}

.content button {
    width: 90px;
    height: 30px;
    margin-left: 73%;
    margin-top: -5px;
    border-radius: 15px;
}

.package:hover{
    background-color: rgb(194, 10, 10);
    border: 2px solid rgb(60, 59, 59);
    box-shadow: 3px 3px 5px 3px rgb(60, 59, 59);
}

.order {
    width: 200px;
    height: 100%;
    background-color: white;
}

.fa-cart-shopping {
    display: block;
    color: white;
    font-size: 27px;
    position: relative;
    left: 40%;
}

.cart-box {
    width: 450px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
}

.product-price {
    font-size: 20px;
    font-weight: 200;
}

.title {
    position: fixed;
    top: 0;
    right: 8%;
    color: black;
    text-align: center;
    font-size: 45px;
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    overflow: hidden;
    display: none;
}


.fa-trash-can {
    color: black;
    font-size: 25px;
    position: relative;
    left: 5%;
    top: 52px;
}

.total {
    color: black;
    font-size: 30px;
    margin-left: 35%;
    display: flex;
    gap: 10px;
    margin-top: 30%;
}

.top-border {
    border: 1px solid grey;
    width: 85%;
    margin-left: 20px;
     position: fixed;
    top: 40%;
}

.cart-container {
    position: relative;
    top: 30%;
}

.bottom-border {
    border: 1px solid grey;
    width: 90%;
    margin-left: 20px;
    position: absolute;
    
}

span {
    display: block;
}

.product {
    display: flex;
}

.cart-title {
    font-size: 25px;
    border: 3px double black;
    border-radius: 10px;
    width: 180px;
    height: 80px;
    margin-left: 10px;
    padding-top: 7px;
}

.cart-quantity {
    margin-top: 10%;
    margin-left: 15px;
}

.cart-quantity input {
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.cart-quantity #minus {
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.cart-quantity #plus {
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.buy-btn {
  width: 90px;
  height: 40px;
  font-size: 15px;
  font-weight: 800;
  border-radius: 20px;
  margin-left: 55%;
}

#close {
    position: relative;
    left: -42%;
    top: 30px;
    font-size: 25px;
}

.cartCont {
    position: relative;
    top: 18%;
}