* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li {
    display: inline;
    padding: 30px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

.package-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 5%;
}

.package {
    width: 350px;
    height: 350px;
    background-color: grey;
    border-radius: 25px;
}

.content h2 {
    font-size: 40px;
    text-align: center;
}

.content h4 {
    font-size: 25px;
    padding-left: 20px;
}

.content ul {
    margin-top: -15px;
    padding-left: 20%;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5;
}
.content p {
    margin-left: 80%;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 700;
}

.content button {
    width: 90px;
    height: 30px;
    margin-left: 73%;
    margin-top: -5px;
    border-radius: 15px;
}

.package:hover{
    background-color: rgb(194, 10, 10);
    border: 2px solid rgb(60, 59, 59);
    box-shadow: 3px 3px 5px 3px rgb(60, 59, 59);
}

.order {
    width: 200px;
    height: 100%;
    background-color: white;
}
