* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li {
    display: inline;
    padding: 30px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

.portfolio-container {
    display: grid;
    
    gap: 20px;
}

.portfolio {
    border: 3px solid grey;
    border-radius: 20px;
}

.content h2 {
    text-align: center;
}

.content h4 {
    text-align: center;
    font-size: 18px;

}
.content p {
    text-align: center;
    line-height: 1.5;
    padding: 5px;
    margin-top:-15px;
}

.content button {
    display: inline;
    position: relative;
    left: 10%;
    border-radius: 50px;
    width: 110px;
    height: 50px;
    border: 2px dotted grey;
}

.content button:hover {
    border: 2px solid red;
}

.content img {
    position: relative;
    left: 35%;
}

.content .left1 {
    position: absolute;
    top: 45%;
    left: 27%;
}

.content .right1{
    position: absolute;
    top: 45%;
    left: 66%;
}

.content .right2{
    position: absolute;
    top: 98%;
    left: 66%;
}

.content .left2 {
    position: absolute;
    top: 98%;
    left: 27%;
}

.content .left3 {
    position: absolute;
    top: 150%;
    left: 27%;
}

.content .right3 {
    position: absolute;
    top: 150%;
    left: 66%;
}

.content .left4 {
    position: absolute;
    top: 200%;
    left: 27%;
}

.content .right4 {
    position: absolute;
    top: 200%;
    left: 66%;
}

.content img {
    margin-left: 5%;
}