* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li {
    display: inline;
    padding: 30px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

.first-row {
    display: flex;
    gap: 50px;
    margin-left: 30px;
}
span {
    font-size: 25px;
    z-index: 10;
    outline: 2px solid red;
    padding: 30px;
    text-align: center;

}

.cards h3 {
    display: flex;
    justify-content: start;
    font-size: 140px;
    z-index: -10;
   
}

.second {
    margin-left: 15%;
}

.third, .fourth{
    display: flex;
    justify-content: center;
}

 .fa-arrow-right-long {
  position: absolute;
  top: 50%;
  left: 48%;
  font-size: 90px;
}

.fa-arrow-right-long:hover {
    color: red;
    margin-top: -5px;
}

.arrow1 {
    font-size: 90px;
    position: relative;
    left: 70%;
    rotate: 30deg;
}

.arrow2 {
    font-size: 90px;
    position: relative;
    left: 50%;
}

.fa-arrow-down-long:hover {
    color: red;
    margin-top: -5px;
}


